<div class="contenedor">

  <h2 class="titulo">Iniciar Sesión</h2>

  <input 
    type="email" 
    [(ngModel)]="correo"
    (input)="limpiarMensajes()"
    placeholder="Correo electrónico">

  <input 
    type="password"
    [(ngModel)]="password"
    (input)="limpiarMensajes()"
    placeholder="Contraseña">

  <button 
    (click)="iniciar()"
    [disabled]="correo.length < 5 || password.length < 4 || cargando">
    {{ cargando ? 'Ingresando...' : 'Ingresar' }}
  </button>

  <!-- MENSAJE DE ERROR -->
  <p *ngIf="mensajeError" class="mensaje-error">
    {{ mensajeError }}
  </p>

  <!-- MENSAJE DE ÉXITO -->
  <p *ngIf="mensajeExito" class="mensaje-exito">
    {{ mensajeExito }}
  </p>

  <a routerLink="/registro" class="enlace">
    ¿No tienes cuenta? Crear nueva cuenta
  </a>

</div>