<div class="container mt-5 text-center">
  <div class="card shadow p-5 border-danger">
    <h1 class="text-danger">Pago Cancelado</h1>
    <p>Parece que hubo un problema con la transacción o decidiste cancelar el proceso.</p>
    <p>No se ha realizado ningún cargo a tu tarjeta.</p>
    <div class="mt-4">
      <button routerLink="/carrito" class="btn btn-warning me-2">Reintentar desde el Carrito</button>
      <button routerLink="/" class="btn btn-link">Volver al Menú</button>
    </div>
  </div>
</div>