.viajes-list-container {
  max-width: 1200px;
  margin: 0 auto;       
  padding: 2rem;      
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* tarjetas más pequeñas */
  gap: 1.5rem;
}

.card {
  width: 200px;          
  min-height: 20px;    
  background: #fff;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.8rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-family: Arial, Helvetica, sans-serif
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.card-imagen {
  margin-bottom: 0.6rem;
}
.card-imagen img {
  width: 100%;
  height: 120px;         /* imagen más pequeña */
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 0.6rem;
  flex: 1;
}

.card-content h3 {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  color: #222;
}

.card-content p {
  font-size: 0.8rem;
  color: #555;
  margin: 0.2rem 0;
}

.card-footer {
  padding: 0.5rem 0.6rem;
  border-top: 1px solid #eee;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.precio {
  font-weight: bold;
  color: #2c7a7b;
  font-size: 0.85rem;
}

.card-acciones {
  display: flex;
  gap: 0.4rem;
}

.btn-agregar,
.btn-detalles {
  padding: 0.3rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.card-content p.descripcion {
      display: -webkit-box;
  -webkit-line-clamp: 5;   /* número de líneas visibles */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  color: #555;

}

.btn-detalles{
  text-decoration: none;
  color: #7931df;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
}