/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #fafafa;
}

h1, h2 {
  margin: 0;
}

section, footer {
  padding: 10px 20px;
}

/* FIX Leaflet cuando hay reglas globales para img/video */
.leaflet-container .leaflet-marker-icon,
.leaflet-container .leaflet-marker-shadow,
.leaflet-container .leaflet-tile,
.leaflet-container img.leaflet-image-layer,
.leaflet-container .leaflet-pane > img {
 max-width: none !important;
 max-height: none !important;
}