/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
}

app-root {
  display: block;
  height: 100%;
}

/* FIX Leaflet cuando hay reglas globales para img/video */
.leaflet-container .leaflet-marker-icon,
.leaflet-container .leaflet-marker-shadow,
.leaflet-container .leaflet-tile,
.leaflet-container img.leaflet-image-layer,
.leaflet-container .leaflet-pane>img {
  max-width: none !important;
  max-height: none !important;
}

/* Este será el contenedor real */
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Este crece automáticamente */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.toast {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 999999;

  background: #4caf50;
  color: white;
  padding: 14px 22px;
  border-radius: 12px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

  font-size: 0.9rem;
  font-weight: 500;

  animation: fadeToast 0.3s ease;
}

@keyframes fadeToast {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}